/* fonts */

*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'vermin';
  src: url(./fonts/vermin_vibes.ttf) format('truetype');
}

@font-face {
  font-family: 'pirate';
  src: url(./fonts/JackPirateAltPersonalUse-ZVpO8.ttf) format('truetype');
}

@font-face {
  font-family: 'battle';
  src: url(./fonts/BattlesbridgeDemo-AL126.ttf) format('truetype');
}

@font-face {
  font-family: 'debock';
  src: url(./fonts/Debock-Personal-Use.otf) format('truetype');
}

.libre-barcode  {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-image:url(./images/mench.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: static;
    margin: 0;
  padding: 0;
cursor: url('./images/billiken.png'),auto;


}

.logo{
  padding-left: 2%;
  height: 180px;

}
.logonav{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.logotext{
  font-family: vermin;
  color: #4878c0;
}
.navbar{
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    display: flex;
    justify-content: space-between;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    height: 160px;
  
    
}

.nav >li{
     text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white ;
    font-weight: bolder;
    font-family: Hack,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    overflow: visible;
    
}
.nav >li :hover{
  transform: scale(1.2) !important;
overflow: visible;
background-color: #ff1e1e43;
}




li a{
    display: block;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

.intro {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 100PX;

    width: 900px 
}

.moto{
  font-size: 25px ;
  font-family: Courier, 'Courier New', monospace; 
}

.invisible {
    visibility: hidden;
  }
  



  
  .d{
    color: #ffffff;
  }
  

    .emptyh{
      height: 200px;
    }
    

    .container {
        margin-left: 50PX;
        width: 650px;
        height: 250px;
      }
      
      .terminal_toolbar {
        display: flex;
        height: 30px;
        align-items: center;
        padding: 0 8px;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #1d1b1b;
        justify-content: space-between;
      }
      
      .butt {
        display: flex;
        align-items: center;
      }
      
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-right: 5px;
        font-size: 8px;
        height: 12px;
        width: 12px;
        box-sizing: border-box;
        border: none;
        border-radius: 100%;
        background: linear-gradient(#7d7871 0%, #595953 100%);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
      }
      
      .btn-color {
        background: #ee411a;
      }
      
      .btn:hover {
        cursor: pointer;
      }
      
      .btn:focus {
        outline: none;
      }
      
      .butt--exit {
        background: linear-gradient(#f37458 0%, #de4c12 100%);
      }
      
      .add_tab {
        border: 1px solid #fff;
        color: #fff;
        padding: 0 6px;
        border-radius: 4px 4px 0 0;
        border-bottom: none;
        cursor: pointer;
      }
      
      .user {
        color: #d5d0ce;
        margin-left: 6px;
        font-size: 14px;
        line-height: 15px;
      }
      
      .terminal_body {
        background: rgba(171, 171, 171, 0.6);
        height: calc(100% - 30px);
        padding-top: 2px;
        margin-top: -1px;
        font-size: 12px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .terminal_promt {
        display: flex;
      }
      
      .terminal_promt span {
        margin-left: 4px;
      }
      
      .terminal_user {
        color: #1eff8e;
      }
      
      .terminal_location {
        color: #4878c0;
      }
      
      .terminal_bling {
        color: #dddddd;
      }
      
      .terminal_cursor {
        display: block;
        height: 14px;
        width: 5px;
        margin-left: 10px;
        animation: curbl 1200ms linear infinite;
      }
      
      @keyframes curbl {
      
        0% {
          background: #ffffff;
        }
      
        49% {
          background: #ffffff;
        }
      
        60% {
          background: transparent;
        }
      
        99% {
          background: transparent;
        }
      
        100% {
          background: #ffffff;
        }
      }



    .slider{
        position: relative;
        margin-top: 100px;
        width: 100%;
        height: 370px;
        overflow: hidden;
        display: flex; /* Center the slider horizontally */
        justify-content: center; /* Center the slider horizontally */
        align-items: center;
    }
    .fadeInUp{animation:fadeInUp 1s ease backwards;}
    @keyframes fadeInUp{
      0%{transform:translate(0px, 200px); opacity: 0;}
      100%{transform:translate(0px, 0); opacity: 1;}
    }
    .item{
        position: absolute;
        width: 500px;
        height: 320px;
        text-align: justify;
        background-color: #ffffff00;
        border-radius: 10px;
        padding: 20px;
        transition:  0.5s;
        left: calc(40% - 110px);
        top: 0;
        display: flex;
        flex-direction: column;
    }
    
    #next{
        position: absolute;
        right: 250px;
        top: 40%;
    }
    #prev{
        position: absolute;
        left: 250px;
        top: 40%;
    }
    #prev, #next{
        color: #fff;
        background: none;
        border: none;
        font-size: xxx-large;
        font-family: monospace;
        font-weight: bold;
        opacity: 0.5;
        transition: opacity 0.5s;
    }
    #prev:hover,
    #next:hover{
        opacity: 1;
    }
    
    .item img {
     width: auto;
     height: 100%;
    }
    
    .text-content {
        margin-top: auto; /* Push the text content to the bottom */
        text-align: center;
        position: relative;
        bottom: 5px;
        font-weight: 900px ;
        color: rgb(255, 255, 255);
        font-family: Hack,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        visibility: hidden;
      }
    
      .profile-container {
        display: flex;
        gap: 50px;
        width: 100%;
        justify-content: center; /* Align profiles in the center horizontally */
    
      }
      
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 400px;

        height: 500px;
  
/* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
border: 1px solid rgba(255, 255, 255, 0.29);              }
      
      .profile-image {
        width: 230px;
        height: 230px;
        object-fit: cover;
        border-radius: 50%;
        border-color: #69a7f0;
        border-style: solid;
        border-width: 5px;
        padding: 20px;
        object-fit: cover;
        object-position: 0 0% ;

      }
      
      .profile-text {
        text-align: left;
        color: white;
        width:300px;
      }
      
      .profile-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .profile-title {
        font-size: 16px;
        color: #666;
      }

   .icons{
    background-color: #69a7f0;
    color: #1d1b1b;
    padding: 10px;
    display: flex;
    gap: 10px;
   }

   .typing{
    font-size:30px 
   }

   .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }
   .div1{
    background-color: #000000;
    width: 60%;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.134);
-webkit-backdrop-filter: blur(17px);
backdrop-filter: blur(17px);
border: 1px solid rgba(220,78,58,0.125);
font-family: Courier, 'Courier New', monospace; 
color: white;
padding: 20px;


   }

   .div1 h1{
    text-align: center;
   }
#menu{
  display: none;
}

*{
  overflow-x: hidden;
}






  /* responsiveness */
  @media only screen and (orientation: portrait) {

    .logo{
      height: 95px;
    }
  
    .navbar{
      display: flex;
      flex-direction: column;
   
}

.nav{
 display:none ;
}
.typing{
  font-size: 15px;
  width: 1000px;

}
.intro{
  margin-left: 20px;
  font-size: 10px;
  width: 90%;
}
.moto{
  font-size: 18px;
  width: 500px;
}
.moto2{
  display: none;}


.logonav{
  display: flex;
  justify-content: space-between;
}
.logotext{
display: none;
}


#cursor{
  font-size: 20px;
}
.slider{
  position: relative;
  width: 400px;
  height: 370px;
  display: flex; /* Center the slider horizontally */
  justify-content: center; /* Center the slider horizontally */
  align-items: center;
}
.item{
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: justify;
  background-color: #ffffff00;
  border-radius: 10px;
  padding: 20px;
  transition:  0.5s;
  left: calc(38% - 110px);
  display: flex;
  flex-direction: column;
  
}
.text-content{
  overflow: visible;
}
#next{
right: 0;
  z-index:1;
  top: 20%;
}

#prev{
  z-index: 1;
left: 0;
top: 20%;
}

.profile-container{
  display: flex;
  flex-direction: column;
  left: 50px;
  justify-content: center;
  align-items: center;
}
.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border-color: #69a7f0;
  border-style: solid;
  border-width: 5px;
  padding: 20px;

}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .div1{
  width: 70%;
  height: 300px;

 }

 #menu{
  display: block;
  font-size: 25px;
  color: #1eff8e;
  overflow: visible;
  margin-right: 40px;
 }
 


  }

